pkgbase = prometheus
	pkgdesc = An open-source service monitoring system and time series database.
	pkgver = 1.8.1
	pkgrel = 1
	url = http://prometheus.io
	install = prometheus.install
	arch = i686
	arch = x86_64
	license = APACHE
	makedepends = go
	makedepends = git
	depends = glibc
	backup = etc/prometheus/prometheus.yml
	source = https://github.com/prometheus/prometheus/archive/v1.8.1.tar.gz
	source = prometheus.service
	sha256sums = dc2b7bb5b5f1273c131921d3e306fd198f2a5547abc58dcf511b700c62963595
	sha256sums = 2d689efe588302346b7065fef1b05be812e4a91df1a8d8845830c0b2397b2ac3

pkgname = prometheus

