pkgbase = prometheus
	pkgdesc = An open-source service monitoring system and time series database.
	pkgver = 1.8.2
	pkgrel = 1
	url = http://prometheus.io
	install = prometheus.install
	arch = i686
	arch = x86_64
	license = APACHE
	makedepends = go
	makedepends = git
	depends = glibc
	backup = etc/prometheus/prometheus.yml
	source = https://github.com/prometheus/prometheus/archive/v1.8.2.tar.gz
	source = prometheus.service
	sha256sums = 7c8a9c9756790d1c4eb436bb6ebda49e2f671a6319c06a1c63d5df9eff7da0e2
	sha256sums = 2d689efe588302346b7065fef1b05be812e4a91df1a8d8845830c0b2397b2ac3

pkgname = prometheus

